
@tailwind base;

@tailwind components;

@tailwind utilities;

#section-0 {
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

#section-1 {
	background: linear-gradient(90deg, #ebebeb 0%, #fff 100%);
}

#section-2 {
	background: linear-gradient(90deg, #ab7bf8 0%, rgb(255, 245, 106) 100%);
}